.idea/

app/

vendor/
!vendor/.htaccess

html/uploads/*
!html/uploads/.gitkeep

html/public/*

# Eclipse
/.classpath
/.loadpath
/.metadata/
/.project
/.settings/
/bin/
/build/

# Nightwatch
/ui/nightwatch
/ui/logs
/ui/tests_output

# Test output files from a new branch
tive_graphql_test/output
